<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/PySpark_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=c2c3500b29419f7e0f11f207103f8b4f1298f03c1bb4d4819cea55eaea3263a4
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('').getOrCreate()

In [5]:
from pyspark.sql.types import *

data=[(1,'Mehfuz'),(2,'Rahman')]
schema=StructType([
    StructField(name='id',dataType=IntegerType()),
    StructField(name='name',dataType=StringType())
    ])
df=spark.createDataFrame(data=data,schema=schema)

In [6]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Mehfuz|
|  2|Rahman|
+---+------+

In [7]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [8]:
##Second Lesson

In [10]:
df=spark.read.csv('emp1.csv',header=True)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [11]:
schema=StructType().add('id',IntegerType())\
                    .add('name',StringType())\
                    .add('gender',StringType())\
                    .add('salary',IntegerType())\


df=spark.read.csv(['emp1.csv','emp2.csv'],schema=schema,header=True)
df.show()
df.printSchema()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| Mehfuz|  Male|  1000|
|  2| Mazhab|  Male|  1000|
|  1|Bharath|  Male|  1000|
|  2|  Vinay|  Male|  1000|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
df.write.csv("new_emp",header=True)

In [16]:
from pyspark.sql.functions import col,lit

In [19]:
df2=spark.read.csv('emp1.csv',header=True)

In [21]:
df2.show()
df2.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [26]:
df2=df2.withColumn('salary',col('salary').cast('Integer'))

In [27]:
df2.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [30]:
df2=df2.withColumn('salary',col('salary')*2)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  4000|
|  2|Mazhab|  Male|  4000|
+---+------+------+------+

In [33]:
def even(sal):
  if sal%2==0:
    return sal
  else:
    return None

In [36]:
from pyspark.sql.functions import udf
even=udf(even,IntegerType())

In [40]:
df2.withColumn('salary',even(df2['salary']))
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  4000|
|  2|Mazhab|  Male|  4000|
+---+------+------+------+

In [47]:
df2=df2.withColumn('country',lit('India'))

In [48]:
df2.show()

+---+------+------+------+-------+
| id|  name|gender|salary|country|
+---+------+------+------+-------+
|  1|Mehfuz|  Male|  4000|  India|
|  2|Mazhab|  Male|  4000|  India|
+---+------+------+------+-------+

In [49]:
# Sample DataFrame
data = [(1, "100", "2023-09-17"), (2, "200", "2023-09-18")]
columns = ["id", "amount", "date"]
df = spark.createDataFrame(data, columns)

# Define the new data types
new_data_types = {
    "id": "double",
    "amount": "integer",
    "date": "date"
}

# Convert the columns to the new data types
for column, new_type in new_data_types.items():
    df = df.withColumn(column, col(column).cast(new_type))

# Show the DataFrame with updated data types
df.printSchema()
df.show()

root
 |-- id: double (nullable = true)
 |-- amount: integer (nullable = true)
 |-- date: date (nullable = true)

+---+------+----------+
| id|amount|      date|
+---+------+----------+
|1.0|   100|2023-09-17|
|2.0|   200|2023-09-18|
+---+------+----------+