<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/PySpark_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=289fb65e0dd5632bedddb3c46bbc09e76048da2112c5ffb3c74831ce25fbbfce
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('').getOrCreate()

In [6]:
from pyspark.sql.types import *

data=[(1,'Mehfuz'),(2,'Rahman')]
schema=StructType([
    StructField(name='id',dataType=IntegerType()),
    StructField(name='name',dataType=StringType())
    ])
df=spark.createDataFrame(data=data,schema=schema)

In [7]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Mehfuz|
|  2|Rahman|
+---+------+

In [8]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [9]:
##Second Lesson

In [14]:
df=spark.read.csv('emp1.csv',header=True)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [22]:
schema=StructType().add('id',IntegerType())\
                    .add('name',StringType())\
                    .add('gender',StringType())\
                    .add('salary',IntegerType())\


df=spark.read.csv(['emp1.csv','emp2.csv'],schema=schema,header=True)
df.show()
df.printSchema()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| Mehfuz|  Male|  1000|
|  2| Mazhab|  Male|  1000|
|  1|Bharath|  Male|  1000|
|  2|  Vinay|  Male|  1000|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)