<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/PySpark_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=3a21767f3e66c5009dcb1f4ca63b6e7bf5f56d2cb4191643fefac25d22b43d36
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('').getOrCreate()

In [37]:
from pyspark.sql.types import *

data=[(1,'Mehfuz'),(2,'Rahman')]
schema=StructType([
    StructField(name='id',dataType=IntegerType()),
    StructField(name='name',dataType=StringType())
    ])
df=spark.createDataFrame(data=data,schema=schema)

In [38]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Mehfuz|
|  2|Rahman|
+---+------+

In [39]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [40]:
##Second Lesson

In [41]:
df=spark.read.csv('emp1.csv',header=True)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [42]:
schema=StructType().add('id',IntegerType())\
                    .add('name',StringType())\
                    .add('gender',StringType())\
                    .add('salary',IntegerType())\


df=spark.read.csv(['emp1.csv','emp2.csv'],schema=schema,header=True)
df.show()
df.printSchema()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| Mehfuz|  Male|  1000|
|  2| Mazhab|  Male|  1000|
|  1|Bharath|  Male|  1000|
|  2|  Vinay|  Male|  1000|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [43]:
df.write.csv("new_emp",header=True)

In [44]:
from pyspark.sql.functions import col,lit

In [45]:
df2=spark.read.csv('emp1.csv',header=True)

In [46]:
df2.show()
df2.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [47]:
df2=df2.withColumn('salary',col('salary').cast('Integer'))

In [48]:
df2.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [49]:
df2=df2.withColumn('salary',col('salary')*2)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [50]:
def even(sal):
  if sal%2==0:
    return sal
  else:
    return None

In [51]:
from pyspark.sql.functions import udf
even=udf(even,IntegerType())

In [52]:
df2.withColumn('salary',even(df2['salary']))
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [53]:
df2=df2.withColumn('country',lit('India'))

In [54]:
df2.show()

+---+------+------+------+-------+
| id|  name|gender|salary|country|
+---+------+------+------+-------+
|  1|Mehfuz|  Male|  2000|  India|
|  2|Mazhab|  Male|  2000|  India|
+---+------+------+------+-------+

In [55]:
# Sample DataFrame
data = [(1, "100", "2023-09-17"), (2, "200", "2023-09-18")]
columns = ["id", "amount", "date"]
df = spark.createDataFrame(data, columns)

# Define the new data types
new_data_types = {
    "id": "double",
    "amount": "integer",
    "date": "date"
}

# Convert the columns to the new data types
for column, new_type in new_data_types.items():
    df = df.withColumn(column, col(column).cast(new_type))

# Show the DataFrame with updated data types
df.printSchema()
df.show()

root
 |-- id: double (nullable = true)
 |-- amount: integer (nullable = true)
 |-- date: date (nullable = true)

+---+------+----------+
| id|amount|      date|
+---+------+----------+
|1.0|   100|2023-09-17|
|2.0|   200|2023-09-18|
+---+------+----------+

In [56]:
df=df.withColumnRenamed('amount','salary_amount')

In [57]:
df.show()

+---+-------------+----------+
| id|salary_amount|      date|
+---+-------------+----------+
|1.0|          100|2023-09-17|
|2.0|          200|2023-09-18|
+---+-------------+----------+

In [58]:
#complex columns

In [59]:
data=[(1,['Mehfuzur','rahman'],200),(2,['Mazhabur','Rahman'],300)]


structName=StructType([\
                       StructField('FirstName',StringType()),\
                       StructField('LastName',StringType())
                       ])

schema=StructType([\
                  StructField('ID',IntegerType()),\
                   StructField('Name',structName),\
                   StructField('Salary',IntegerType())




                   ])

In [60]:
df=spark.createDataFrame(data,schema)

In [61]:
df.show()

+---+------------------+------+
| ID|              Name|Salary|
+---+------------------+------+
|  1|{Mehfuzur, rahman}|   200|
|  2|{Mazhabur, Rahman}|   300|
+---+------------------+------+

In [62]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [63]:
#MapColumn

In [64]:
data=[('mehfuz',{'hair':'black','eye':'brown'}),('mazhab',{'hair':'silky_black','eye':'brown'})]
schema=StructType([\
                   StructField('Names',StringType()),\
                   StructField('Properties',MapType(StringType(),StringType()))


                   ])


df=spark.createDataFrame(data,schema=schema)
df.show(truncate=False)
df.printSchema()

+------+-----------------------------------+
|Names |Properties                         |
+------+-----------------------------------+
|mehfuz|{eye -> brown, hair -> black}      |
|mazhab|{eye -> brown, hair -> silky_black}|
+------+-----------------------------------+

root
 |-- Names: string (nullable = true)
 |-- Properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [65]:
df1=df.withColumn('Hair',df['properties']['hair'])
df1.show()

+------+--------------------+-----------+
| Names|          Properties|       Hair|
+------+--------------------+-----------+
|mehfuz|{eye -> brown, ha...|      black|
|mazhab|{eye -> brown, ha...|silky_black|
+------+--------------------+-----------+

In [66]:
df1=df.withColumn('Hair',df['Properties'].getItem('eye'))
df1.show()

+------+--------------------+-----+
| Names|          Properties| Hair|
+------+--------------------+-----+
|mehfuz|{eye -> brown, ha...|brown|
|mazhab|{eye -> brown, ha...|brown|
+------+--------------------+-----+

In [67]:
from pyspark.sql.functions import explode

In [68]:
df1=df.select('Names','Properties',explode(df['Properties']))

In [69]:
df1.show(truncate=False)

+------+-----------------------------------+----+-----------+
|Names |Properties                         |key |value      |
+------+-----------------------------------+----+-----------+
|mehfuz|{eye -> brown, hair -> black}      |eye |brown      |
|mehfuz|{eye -> brown, hair -> black}      |hair|black      |
|mazhab|{eye -> brown, hair -> silky_black}|eye |brown      |
|mazhab|{eye -> brown, hair -> silky_black}|hair|silky_black|
+------+-----------------------------------+----+-----------+

In [70]:
from pyspark.sql.functions import map_keys,map_values

In [71]:
df.select('Names','Properties',map_keys(df['Properties'])).show()

+------+--------------------+--------------------+
| Names|          Properties|map_keys(Properties)|
+------+--------------------+--------------------+
|mehfuz|{eye -> brown, ha...|         [eye, hair]|
|mazhab|{eye -> brown, ha...|         [eye, hair]|
+------+--------------------+--------------------+

In [72]:
df.select('Names','Properties',map_values(df['Properties'])).show()

+------+--------------------+----------------------+
| Names|          Properties|map_values(Properties)|
+------+--------------------+----------------------+
|mehfuz|{eye -> brown, ha...|        [brown, black]|
|mazhab|{eye -> brown, ha...|  [brown, silky_black]|
+------+--------------------+----------------------+

In [73]:
#ROW

In [74]:
from pyspark.sql import Row

In [75]:
row=Row('mehfuz',3000)
print(row[0]+" "+str(row[1]))

mehfuz 3000

In [76]:
row=Row(name='mehfuz',salary=3000)
print(row.name+" "+str(row.salary))

mehfuz 3000

In [77]:
row1=Row(name='mehfuz',salary=3000)
row2=Row(name='mazhab',salary=4000)


data=[row1,row2]

spark.createDataFrame(data).show(truncate=False)

+------+------+
|name  |salary|
+------+------+
|mehfuz|3000  |
|mazhab|4000  |
+------+------+

In [78]:
Person=Row('name','salary')

p1=Person('Mehfuz',3000)
p2=Person('Mazhab',4000)


spark.createDataFrame([p1,p2]).show(truncate=False)

+------+------+
|name  |salary|
+------+------+
|Mehfuz|3000  |
|Mazhab|4000  |
+------+------+

In [79]:
data=[
      Row(name='Mehfuz',prop=Row(color='sawla',eye='brown')),
      Row(name='Mazhab',prop=Row(color='fair',eye='brown'))
      ]


spark.createDataFrame(data).show()

+------+--------------+
|  name|          prop|
+------+--------------+
|Mehfuz|{sawla, brown}|
|Mazhab| {fair, brown}|
+------+--------------+

In [80]:
row1=Row(name='mehfuz',salary=3)
row2=Row(name='mazhab',salary=4)


data=[row1,row2]

df=spark.createDataFrame(data)

In [81]:
df.show()

+------+------+
|  name|salary|
+------+------+
|mehfuz|     3|
|mazhab|     4|
+------+------+

In [82]:
def even(sal):
  if sal%2==0:
    return 0
  else:
    return 1


from pyspark.sql.functions import udf


even_udf=udf(even)


df.withColumn('ind',lit(even_udf(df['salary']))).show()

+------+------+---+
|  name|salary|ind|
+------+------+---+
|mehfuz|     3|  1|
|mazhab|     4|  0|
+------+------+---+

In [83]:
#WHEN AND OTHERWISE LIKE case statement in sql

In [84]:
row1=Row(name='mehfuz',salary=3,gender='F')
row2=Row(name='mazhab',salary=4,gender='M')


data=[row1,row2]

df=spark.createDataFrame(data)

In [85]:
df.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|     F|
|mazhab|     4|     M|
+------+------+------+

In [86]:
from pyspark.sql.functions import when

In [87]:
df1=df.select(df['name'],\
          df['salary'],\
          when(df.gender=='F','Female')\
          .when(df.gender=='M','Male')\
          .otherwise('unknown').alias('gender'))

In [88]:
df1.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [89]:
#alias

In [90]:
df1.select(df1.name.alias('candidate'),df1.salary.alias('sal'),df1.gender.alias('sex')).show()

+---------+---+------+
|candidate|sal|   sex|
+---------+---+------+
|   mehfuz|  3|Female|
|   mazhab|  4|  Male|
+---------+---+------+

In [91]:
df1.sort(df1.gender.asc()).show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [92]:
#cast

In [93]:
df1.printSchema()
df1.show()

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- gender: string (nullable = false)

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [94]:
df1.select(df1.salary.cast('int'))

DataFrame[salary: int]

In [ ]:
#Like
df1.filter(df.name.like("%z")).show()

In [97]:
#where

df1.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [101]:
df1.where(("salary==4") and ("gender=='Male' ")).show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mazhab|     4|  Male|
+------+------+------+

In [103]:
data=[(1,'abc','male',1000),(2,'def','female',2000),(3,'ghi','male',2000),(4,'jkl','female',4000)]
schema=['id','name','gender','salary']


df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  1| abc|  male|  1000|
|  2| def|female|  2000|
|  3| ghi|  male|  2000|
|  4| jkl|female|  4000|
+---+----+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [110]:
df.select('salary').distinct().show()

+------+
|salary|
+------+
|  1000|
|  2000|
|  4000|
+------+

In [112]:
df.distinct().show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2| def|female|  2000|
|  1| abc|  male|  1000|
|  4| jkl|female|  4000|
|  3| ghi|  male|  2000|
+---+----+------+------+

In [113]:
df.dropDuplicates(['gender']).show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2| def|female|  2000|
|  1| abc|  male|  1000|
+---+----+------+------+