<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/PySpark_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=0dea0eded94beaf67e22efbb207336a5c2d0de932c2c2e7cef9f993113e2b2ae
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('').getOrCreate()

In [3]:
from pyspark.sql.types import *

data=[(1,'Mehfuz'),(2,'Rahman')]
schema=StructType([
    StructField(name='id',dataType=IntegerType()),
    StructField(name='name',dataType=StringType())
    ])
df=spark.createDataFrame(data=data,schema=schema)

In [4]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Mehfuz|
|  2|Rahman|
+---+------+

In [5]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [6]:
##Second Lesson

In [7]:
df=spark.read.csv('emp1.csv',header=True)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [8]:
schema=StructType().add('id',IntegerType())\
                    .add('name',StringType())\
                    .add('gender',StringType())\
                    .add('salary',IntegerType())\


df=spark.read.csv(['emp1.csv','emp2.csv'],schema=schema,header=True)
df.show()
df.printSchema()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| Mehfuz|  Male|  1000|
|  2| Mazhab|  Male|  1000|
|  1|Bharath|  Male|  1000|
|  2|  Vinay|  Male|  1000|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
df.write.csv("new_emp",header=True)

In [10]:
from pyspark.sql.functions import col,lit

In [11]:
df2=spark.read.csv('emp1.csv',header=True)

In [12]:
df2.show()
df2.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [13]:
df2=df2.withColumn('salary',col('salary').cast('Integer'))

In [14]:
df2.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [15]:
df2=df2.withColumn('salary',col('salary')*2)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [16]:
def even(sal):
  if sal%2==0:
    return sal
  else:
    return None

In [17]:
from pyspark.sql.functions import udf
even=udf(even,IntegerType())

In [18]:
df2.withColumn('salary',even(df2['salary']))
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [19]:
df2=df2.withColumn('country',lit('India'))

In [20]:
df2.show()

+---+------+------+------+-------+
| id|  name|gender|salary|country|
+---+------+------+------+-------+
|  1|Mehfuz|  Male|  2000|  India|
|  2|Mazhab|  Male|  2000|  India|
+---+------+------+------+-------+

In [21]:
# Sample DataFrame
data = [(1, "100", "2023-09-17"), (2, "200", "2023-09-18")]
columns = ["id", "amount", "date"]
df = spark.createDataFrame(data, columns)

# Define the new data types
new_data_types = {
    "id": "double",
    "amount": "integer",
    "date": "date"
}

# Convert the columns to the new data types
for column, new_type in new_data_types.items():
    df = df.withColumn(column, col(column).cast(new_type))

# Show the DataFrame with updated data types
df.printSchema()
df.show()

root
 |-- id: double (nullable = true)
 |-- amount: integer (nullable = true)
 |-- date: date (nullable = true)

+---+------+----------+
| id|amount|      date|
+---+------+----------+
|1.0|   100|2023-09-17|
|2.0|   200|2023-09-18|
+---+------+----------+

In [22]:
df=df.withColumnRenamed('amount','salary_amount')

In [23]:
df.show()

+---+-------------+----------+
| id|salary_amount|      date|
+---+-------------+----------+
|1.0|          100|2023-09-17|
|2.0|          200|2023-09-18|
+---+-------------+----------+

In [24]:
#complex columns

In [25]:
data=[(1,['Mehfuzur','rahman'],200),(2,['Mazhabur','Rahman'],300)]


structName=StructType([\
                       StructField('FirstName',StringType()),\
                       StructField('LastName',StringType())
                       ])

schema=StructType([\
                  StructField('ID',IntegerType()),\
                   StructField('Name',structName),\
                   StructField('Salary',IntegerType())




                   ])

In [26]:
df=spark.createDataFrame(data,schema)

In [27]:
df.show()

+---+------------------+------+
| ID|              Name|Salary|
+---+------------------+------+
|  1|{Mehfuzur, rahman}|   200|
|  2|{Mazhabur, Rahman}|   300|
+---+------------------+------+

In [28]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [29]:
#MapColumn

In [30]:
data=[('mehfuz',{'hair':'black','eye':'brown'}),('mazhab',{'hair':'silky_black','eye':'brown'})]
schema=StructType([\
                   StructField('Names',StringType()),\
                   StructField('Properties',MapType(StringType(),StringType()))


                   ])


df=spark.createDataFrame(data,schema=schema)
df.show(truncate=False)
df.printSchema()

+------+-----------------------------------+
|Names |Properties                         |
+------+-----------------------------------+
|mehfuz|{eye -> brown, hair -> black}      |
|mazhab|{eye -> brown, hair -> silky_black}|
+------+-----------------------------------+

root
 |-- Names: string (nullable = true)
 |-- Properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [31]:
df1=df.withColumn('Hair',df['properties']['hair'])
df1.show()

+------+--------------------+-----------+
| Names|          Properties|       Hair|
+------+--------------------+-----------+
|mehfuz|{eye -> brown, ha...|      black|
|mazhab|{eye -> brown, ha...|silky_black|
+------+--------------------+-----------+

In [32]:
df1=df.withColumn('Hair',df['Properties'].getItem('eye'))
df1.show()

+------+--------------------+-----+
| Names|          Properties| Hair|
+------+--------------------+-----+
|mehfuz|{eye -> brown, ha...|brown|
|mazhab|{eye -> brown, ha...|brown|
+------+--------------------+-----+

In [33]:
from pyspark.sql.functions import explode

In [34]:
df1=df.select('Names','Properties',explode(df['Properties']))

In [35]:
df1.show(truncate=False)

+------+-----------------------------------+----+-----------+
|Names |Properties                         |key |value      |
+------+-----------------------------------+----+-----------+
|mehfuz|{eye -> brown, hair -> black}      |eye |brown      |
|mehfuz|{eye -> brown, hair -> black}      |hair|black      |
|mazhab|{eye -> brown, hair -> silky_black}|eye |brown      |
|mazhab|{eye -> brown, hair -> silky_black}|hair|silky_black|
+------+-----------------------------------+----+-----------+

In [36]:
from pyspark.sql.functions import map_keys,map_values

In [37]:
df.select('Names','Properties',map_keys(df['Properties'])).show()

+------+--------------------+--------------------+
| Names|          Properties|map_keys(Properties)|
+------+--------------------+--------------------+
|mehfuz|{eye -> brown, ha...|         [eye, hair]|
|mazhab|{eye -> brown, ha...|         [eye, hair]|
+------+--------------------+--------------------+

In [38]:
df.select('Names','Properties',map_values(df['Properties'])).show()

+------+--------------------+----------------------+
| Names|          Properties|map_values(Properties)|
+------+--------------------+----------------------+
|mehfuz|{eye -> brown, ha...|        [brown, black]|
|mazhab|{eye -> brown, ha...|  [brown, silky_black]|
+------+--------------------+----------------------+

In [39]:
#ROW

In [40]:
from pyspark.sql import Row

In [41]:
row=Row('mehfuz',3000)
print(row[0]+" "+str(row[1]))

mehfuz 3000

In [42]:
row=Row(name='mehfuz',salary=3000)
print(row.name+" "+str(row.salary))

mehfuz 3000

In [43]:
row1=Row(name='mehfuz',salary=3000)
row2=Row(name='mazhab',salary=4000)


data=[row1,row2]

spark.createDataFrame(data).show(truncate=False)

+------+------+
|name  |salary|
+------+------+
|mehfuz|3000  |
|mazhab|4000  |
+------+------+

In [44]:
Person=Row('name','salary')

p1=Person('Mehfuz',3000)
p2=Person('Mazhab',4000)


spark.createDataFrame([p1,p2]).show(truncate=False)

+------+------+
|name  |salary|
+------+------+
|Mehfuz|3000  |
|Mazhab|4000  |
+------+------+

In [45]:
data=[
      Row(name='Mehfuz',prop=Row(color='sawla',eye='brown')),
      Row(name='Mazhab',prop=Row(color='fair',eye='brown'))
      ]


spark.createDataFrame(data).show()

+------+--------------+
|  name|          prop|
+------+--------------+
|Mehfuz|{sawla, brown}|
|Mazhab| {fair, brown}|
+------+--------------+

In [46]:
row1=Row(name='mehfuz',salary=3)
row2=Row(name='mazhab',salary=4)


data=[row1,row2]

df=spark.createDataFrame(data)

In [47]:
df.show()

+------+------+
|  name|salary|
+------+------+
|mehfuz|     3|
|mazhab|     4|
+------+------+

In [48]:
def even(sal):
  if sal%2==0:
    return 0
  else:
    return 1


from pyspark.sql.functions import udf


even_udf=udf(even)


df.withColumn('ind',lit(even_udf(df['salary']))).show()

+------+------+---+
|  name|salary|ind|
+------+------+---+
|mehfuz|     3|  1|
|mazhab|     4|  0|
+------+------+---+

In [49]:
#WHEN AND OTHERWISE LIKE case statement in sql

In [50]:
row1=Row(name='mehfuz',salary=3,gender='F')
row2=Row(name='mazhab',salary=4,gender='M')


data=[row1,row2]

df=spark.createDataFrame(data)

In [51]:
df.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|     F|
|mazhab|     4|     M|
+------+------+------+

In [52]:
from pyspark.sql.functions import when

In [53]:
df1=df.select(df['name'],\
          df['salary'],\
          when(df.gender=='F','Female')\
          .when(df.gender=='M','Male')\
          .otherwise('unknown').alias('gender'))

In [54]:
df1.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [55]:
#alias

In [56]:
df1.select(df1.name.alias('candidate'),df1.salary.alias('sal'),df1.gender.alias('sex')).show()

+---------+---+------+
|candidate|sal|   sex|
+---------+---+------+
|   mehfuz|  3|Female|
|   mazhab|  4|  Male|
+---------+---+------+

In [57]:
df1.sort(df1.gender.asc()).show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [58]:
#cast

In [59]:
df1.printSchema()
df1.show()

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- gender: string (nullable = false)

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [60]:
df1.select(df1.salary.cast('int'))

DataFrame[salary: int]

In [61]:
#Like
df1.filter(df.name.like("%z")).show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
+------+------+------+

In [62]:
#where

df1.show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mehfuz|     3|Female|
|mazhab|     4|  Male|
+------+------+------+

In [63]:
df1.where(("salary==4") and ("gender=='Male' ")).show()

+------+------+------+
|  name|salary|gender|
+------+------+------+
|mazhab|     4|  Male|
+------+------+------+

In [64]:
data=[(1,'abc','male',1000),(2,'def','female',2000),(3,'ghi','male',2000),(4,'jkl','female',4000)]
schema=['id','name','gender','salary']


df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  1| abc|  male|  1000|
|  2| def|female|  2000|
|  3| ghi|  male|  2000|
|  4| jkl|female|  4000|
+---+----+------+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [65]:
df.select('salary').distinct().show()

+------+
|salary|
+------+
|  1000|
|  2000|
|  4000|
+------+

In [66]:
df.distinct().show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2| def|female|  2000|
|  1| abc|  male|  1000|
|  4| jkl|female|  4000|
|  3| ghi|  male|  2000|
+---+----+------+------+

In [67]:
df.dropDuplicates(['gender']).show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2| def|female|  2000|
|  1| abc|  male|  1000|
+---+----+------+------+

In [68]:
data = [(1, 'maheer', 'M', 2000, 'IT'),
        (2, 'wafa', 'M', 4000, 'HR'),
        (3, 'asi', 'F', 3000, 'Payroll'),
        (4, 'sarfaraj', 'M',3000, 'HR')]


schema = ['id', 'name', 'gender', 'salary', 'dep']
df=spark.createDataFrame(data,schema)

In [69]:
df.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [70]:
df.sort(df.dep,df.id).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  2|    wafa|     M|  4000|     HR|
|  4|sarfaraj|     M|  3000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+

In [71]:
df.sort(df.dep.asc(),df.id.desc()).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+

In [72]:
df.orderBy(df.dep.asc(),df.id.desc()).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+

In [73]:
df.orderBy(df.dep,df.id).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  2|    wafa|     M|  4000|     HR|
|  4|sarfaraj|     M|  3000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+

In [74]:
#union and union all



# Create two DataFrames
df1 = spark.createDataFrame([(1, "Alice"), (2, "Bob")], ["id", "name"])
df2 = spark.createDataFrame([(2, "Bob"), (3, "Charlie")], ["id", "name"])

# Use union to combine them (duplicate rows are removed)
combined_df = df1.union(df2)
combined_df.show()

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  2|    Bob|
|  3|Charlie|
+---+-------+

In [75]:
# Create two DataFrames dont use this
df1 = spark.createDataFrame([(1, "Alice"), (2, "Bob")], ["id", "name"])
df2 = spark.createDataFrame([(2, "Bob"), (3, "Charlie")], ["id", "name"])

# Use unionAll to combine them (duplicate rows are retained)
combined_df = df1.unionAll(df2)
combined_df.show()

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  2|    Bob|
|  3|Charlie|
+---+-------+

In [76]:
#Group by

In [77]:
data = [(1, "Alice", "A", 100),
        (2, "Bob", "B", 200),
        (3, "Charlie", "A", 200),
        (4, "David", "B", 300)]

columns = ["id", "name", "category", "amount"]

df = spark.createDataFrame(data, columns)

In [78]:
df.groupBy('category').count().show()

+--------+-----+
|category|count|
+--------+-----+
|       B|    2|
|       A|    2|
+--------+-----+

In [79]:
data = [
    Row(id=1, name="Alice", gender="Female", department="HR", sal=50000),
    Row(id=2, name="Bob", gender="Male", department="IT", sal=60000),
    Row(id=3, name="Charlie", gender="Male", department="Finance", sal=75000),
    Row(id=4, name="David", gender="Male", department="IT", sal=65000),
    Row(id=5, name="Eve", gender="Female", department="Finance", sal=70000)
]



df=spark.createDataFrame(data)

In [80]:
df.show()

+---+-------+------+----------+-----+
| id|   name|gender|department|  sal|
+---+-------+------+----------+-----+
|  1|  Alice|Female|        HR|50000|
|  2|    Bob|  Male|        IT|60000|
|  3|Charlie|  Male|   Finance|75000|
|  4|  David|  Male|        IT|65000|
|  5|    Eve|Female|   Finance|70000|
+---+-------+------+----------+-----+

In [81]:
df.groupBy('department').min('sal').show()

+----------+--------+
|department|min(sal)|
+----------+--------+
|        HR|   50000|
|        IT|   60000|
|   Finance|   70000|
+----------+--------+

In [82]:
df.groupBy('department','gender').min('sal').show()

+----------+------+--------+
|department|gender|min(sal)|
+----------+------+--------+
|        IT|  Male|   60000|
|        HR|Female|   50000|
|   Finance|Female|   70000|
|   Finance|  Male|   75000|
+----------+------+--------+

In [83]:
df.groupBy('department','gender').count().show()

+----------+------+-----+
|department|gender|count|
+----------+------+-----+
|        IT|  Male|    2|
|        HR|Female|    1|
|   Finance|Female|    1|
|   Finance|  Male|    1|
+----------+------+-----+

In [84]:
from pyspark.sql.functions import count,min,max

df.groupBy('department').agg(count('*').alias('No_emp'),
                             min('sal').alias('MinSal'),
                             max('sal').alias('MaxSal')
                             ).show()

+----------+------+------+------+
|department|No_emp|MinSal|MaxSal|
+----------+------+------+------+
|        HR|     1| 50000| 50000|
|        IT|     2| 60000| 65000|
|   Finance|     2| 70000| 75000|
+----------+------+------+------+

In [87]:
data1=[(1,'abc',22),(2,'def',23),(3,'ghi',24),(4,'jkl',25)]
schema=['id','name','age']


df1=spark.createDataFrame(data1,schema)


data2=[(1,'abc',2234),(2,'def',2343),(3,'ghi',2465),(4,'jkl',2512)]
schema=['id','name','salary']


df2=spark.createDataFrame(data2,schema)

In [89]:
df1.show()
df2.show()



df1.unionByName(df,allowMissingColumns=True).show()

+---+----+---+
| id|name|age|
+---+----+---+
|  1| abc| 22|
|  2| def| 23|
|  3| ghi| 24|
|  4| jkl| 25|
+---+----+---+

+---+----+------+
| id|name|salary|
+---+----+------+
|  1| abc|  2234|
|  2| def|  2343|
|  3| ghi|  2465|
|  4| jkl|  2512|
+---+----+------+

+---+-------+----+------+----------+-----+
| id|   name| age|gender|department|  sal|
+---+-------+----+------+----------+-----+
|  1|    abc|  22|  null|      null| null|
|  2|    def|  23|  null|      null| null|
|  3|    ghi|  24|  null|      null| null|
|  4|    jkl|  25|  null|      null| null|
|  1|  Alice|null|Female|        HR|50000|
|  2|    Bob|null|  Male|        IT|60000|
|  3|Charlie|null|  Male|   Finance|75000|
|  4|  David|null|  Male|        IT|65000|
|  5|    Eve|null|Female|   Finance|70000|
+---+-------+----+------+----------+-----+

In [90]:
#JOIN

In [92]:
data1 = [(1, 'maheer',2000,2), (2, 'wafa',3000,1), (3, 'abcd', 1000,4)]
schema1 = ['id', 'name', 'salary', 'dep']

data2 =[(1, 'IT'), (2, 'HR'), (3, 'Payroll')]
schema2 = ['id', 'name']

empDf = spark.createDataFrame(data1, schema1)
depDf = spark.createDataFrame (data2, schema2)
empDf.show()
depDf.show()

+---+------+------+---+
| id|  name|salary|dep|
+---+------+------+---+
|  1|maheer|  2000|  2|
|  2|  wafa|  3000|  1|
|  3|  abcd|  1000|  4|
+---+------+------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

In [94]:
empDf.join(depDf,empDf.id==depDf.id,'inner').show()

+---+------+------+---+---+-------+
| id|  name|salary|dep| id|   name|
+---+------+------+---+---+-------+
|  1|maheer|  2000|  2|  1|     IT|
|  2|  wafa|  3000|  1|  2|     HR|
|  3|  abcd|  1000|  4|  3|Payroll|
+---+------+------+---+---+-------+

In [113]:
empDf.join(depDf, empDf.id == depDf.id, 'inner').select(empDf.id, empDf.name, empDf.salary,depDf.name).show()

+---+------+------+-------+
| id|  name|salary|   name|
+---+------+------+-------+
|  1|maheer|  2000|     IT|
|  2|  wafa|  3000|     HR|
|  3|  abcd|  1000|Payroll|
+---+------+------+-------+

In [116]:
# Join the DataFrames based on multiple conditions using an inner join
joinedDf = empDf.join(
    depDf,
    (empDf.id == depDf.id) & (empDf.salary > 2000) & (empDf.dep == "IT"),
    'inner'
)

# Show the resulting DataFrame
joinedDf.show()

+---+----+------+---+---+----+
| id|name|salary|dep| id|name|
+---+----+------+---+---+----+
+---+----+------+---+---+----+

In [ ]:
""