<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/PySpark_Handson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=0dd0cc6d9e81fe29ea6452d1af7e12fbd2f52c2190c91c46a1317e94e5eba886
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('').getOrCreate()

In [3]:
from pyspark.sql.types import *

data=[(1,'Mehfuz'),(2,'Rahman')]
schema=StructType([
    StructField(name='id',dataType=IntegerType()),
    StructField(name='name',dataType=StringType())
    ])
df=spark.createDataFrame(data=data,schema=schema)

In [4]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Mehfuz|
|  2|Rahman|
+---+------+

In [5]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [6]:
##Second Lesson

In [7]:
df=spark.read.csv('emp1.csv',header=True)
df.show()
df.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [8]:
schema=StructType().add('id',IntegerType())\
                    .add('name',StringType())\
                    .add('gender',StringType())\
                    .add('salary',IntegerType())\


df=spark.read.csv(['emp1.csv','emp2.csv'],schema=schema,header=True)
df.show()
df.printSchema()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| Mehfuz|  Male|  1000|
|  2| Mazhab|  Male|  1000|
|  1|Bharath|  Male|  1000|
|  2|  Vinay|  Male|  1000|
+---+-------+------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
df.write.csv("new_emp",header=True)

In [10]:
from pyspark.sql.functions import col,lit

In [11]:
df2=spark.read.csv('emp1.csv',header=True)

In [12]:
df2.show()
df2.printSchema()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  1000|
|  2|Mazhab|  Male|  1000|
+---+------+------+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [13]:
df2=df2.withColumn('salary',col('salary').cast('Integer'))

In [14]:
df2.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [15]:
df2=df2.withColumn('salary',col('salary')*2)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [16]:
def even(sal):
  if sal%2==0:
    return sal
  else:
    return None

In [17]:
from pyspark.sql.functions import udf
even=udf(even,IntegerType())

In [18]:
df2.withColumn('salary',even(df2['salary']))
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Mehfuz|  Male|  2000|
|  2|Mazhab|  Male|  2000|
+---+------+------+------+

In [19]:
df2=df2.withColumn('country',lit('India'))

In [20]:
df2.show()

+---+------+------+------+-------+
| id|  name|gender|salary|country|
+---+------+------+------+-------+
|  1|Mehfuz|  Male|  2000|  India|
|  2|Mazhab|  Male|  2000|  India|
+---+------+------+------+-------+

In [21]:
# Sample DataFrame
data = [(1, "100", "2023-09-17"), (2, "200", "2023-09-18")]
columns = ["id", "amount", "date"]
df = spark.createDataFrame(data, columns)

# Define the new data types
new_data_types = {
    "id": "double",
    "amount": "integer",
    "date": "date"
}

# Convert the columns to the new data types
for column, new_type in new_data_types.items():
    df = df.withColumn(column, col(column).cast(new_type))

# Show the DataFrame with updated data types
df.printSchema()
df.show()

root
 |-- id: double (nullable = true)
 |-- amount: integer (nullable = true)
 |-- date: date (nullable = true)

+---+------+----------+
| id|amount|      date|
+---+------+----------+
|1.0|   100|2023-09-17|
|2.0|   200|2023-09-18|
+---+------+----------+

In [22]:
df=df.withColumnRenamed('amount','salary_amount')

In [23]:
df.show()

+---+-------------+----------+
| id|salary_amount|      date|
+---+-------------+----------+
|1.0|          100|2023-09-17|
|2.0|          200|2023-09-18|
+---+-------------+----------+

In [24]:
#complex columns

In [25]:
data=[(1,['Mehfuzur','rahman'],200),(2,['Mazhabur','Rahman'],300)]


structName=StructType([\
                       StructField('FirstName',StringType()),\
                       StructField('LastName',StringType())
                       ])

schema=StructType([\
                  StructField('ID',IntegerType()),\
                   StructField('Name',structName),\
                   StructField('Salary',IntegerType())




                   ])

In [26]:
df=spark.createDataFrame(data,schema)

In [27]:
df.show()

+---+------------------+------+
| ID|              Name|Salary|
+---+------------------+------+
|  1|{Mehfuzur, rahman}|   200|
|  2|{Mazhabur, Rahman}|   300|
+---+------------------+------+

In [28]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [29]:
#MapColumn

In [37]:
data=[('mehfuz',{'hair':'black','eye':'brown'}),('mazhab',{'hair':'silky_black','eye':'brown'})]
schema=StructType([\
                   StructField('Names',StringType()),\
                   StructField('Properties',MapType(StringType(),StringType()))


                   ])


df=spark.createDataFrame(data,schema=schema)
df.show(truncate=False)
df.printSchema()

+------+-----------------------------------+
|Names |Properties                         |
+------+-----------------------------------+
|mehfuz|{eye -> brown, hair -> black}      |
|mazhab|{eye -> brown, hair -> silky_black}|
+------+-----------------------------------+

root
 |-- Names: string (nullable = true)
 |-- Properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [38]:
df1=df.withColumn('Hair',df['properties']['hair'])
df1.show()

+------+--------------------+-----------+
| Names|          Properties|       Hair|
+------+--------------------+-----------+
|mehfuz|{eye -> brown, ha...|      black|
|mazhab|{eye -> brown, ha...|silky_black|
+------+--------------------+-----------+

In [41]:
df1=df.withColumn('Hair',df['Properties'].getItem('eye'))
df1.show()

+------+--------------------+-----+
| Names|          Properties| Hair|
+------+--------------------+-----+
|mehfuz|{eye -> brown, ha...|brown|
|mazhab|{eye -> brown, ha...|brown|
+------+--------------------+-----+

In [44]:
from pyspark.sql.functions import explode

In [47]:
df1=df.select('Names','Properties',explode(df['Properties']))

In [49]:
df1.show(truncate=False)

+------+-----------------------------------+----+-----------+
|Names |Properties                         |key |value      |
+------+-----------------------------------+----+-----------+
|mehfuz|{eye -> brown, hair -> black}      |eye |brown      |
|mehfuz|{eye -> brown, hair -> black}      |hair|black      |
|mazhab|{eye -> brown, hair -> silky_black}|eye |brown      |
|mazhab|{eye -> brown, hair -> silky_black}|hair|silky_black|
+------+-----------------------------------+----+-----------+

In [54]:
from pyspark.sql.functions import map_keys,map_values

In [53]:
df.select('Names','Properties',map_keys(df['Properties'])).show()

+------+--------------------+--------------------+
| Names|          Properties|map_keys(Properties)|
+------+--------------------+--------------------+
|mehfuz|{eye -> brown, ha...|         [eye, hair]|
|mazhab|{eye -> brown, ha...|         [eye, hair]|
+------+--------------------+--------------------+

In [55]:
df.select('Names','Properties',map_values(df['Properties'])).show()

+------+--------------------+----------------------+
| Names|          Properties|map_values(Properties)|
+------+--------------------+----------------------+
|mehfuz|{eye -> brown, ha...|        [brown, black]|
|mazhab|{eye -> brown, ha...|  [brown, silky_black]|
+------+--------------------+----------------------+