<a href="https://colab.research.google.com/github/MEHFUZ22/Pyspark/blob/main/Spark-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df=spark.read.json('people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.show(2)

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
+----+-------+
only showing top 2 rows

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.columns

['age', 'name']

In [15]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [16]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [17]:
data_schema=[StructField('age',IntegerType(),True),
             StructField('name',StringType(),True)]

In [18]:
final_struct=StructType(data_schema)

In [20]:
df=spark.read.json('people.json',schema=final_struct)

In [21]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [22]:
type(df['age'])

pyspark.sql.column.Column

In [25]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [26]:
df['age']

Column<'age'>

In [28]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df.withColumn('NewAge',df['age']+10).show()

+----+-------+------+
| age|   name|NewAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    40|
|  19| Justin|    29|
+----+-------+------+